<!DOCTYPE html>
<html>
<head>
  <title>Redirected</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>You've been redirected!</h1>
    <p>Thank you for submitting the form. You have been redirected for your safety.</p>
</body>
</html>