.frannie{
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 10em;
}
.hat{
  display: block;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  bottom: 190px;
  left: 16px;
}
.glasses{
  display: block;
  margin: 0 auto;
  z-index: 3;
  position: relative;
  top: 320px;
  left: 10px;
}